<div class="row justify-space-between-md">
  <div class="new-post-card">
    <h2 class="page-title">Create your new post</h2>
    <form class="form new-post-form" id = "new-post-form">
      <div class="form-group">
        <label for="title-new-post">Title:</label>
        <input class="form-input" type="text" id="title-input-new-post" />
      </div>
      <div class="form-group">
        <label for="body-new-post">Body:</label>
        <input class="form-input" type="body" id="body-input-new-post" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Create New Post</button>
      </div>
    </form>
  </div>

<script src="/js/new.js"></script>